<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centralizar e Reduzir Card</title>

</head>
<body>
  <mat-toolbar color="primary">
         <span id="main-title">Eclesia</span>
  </mat-toolbar>

  <div class="centered">

      <mat-card color="primary" class="example-card">
        <h1>Login</h1>
        <mat-form-field>
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>


      </mat-card>
  </div>
</body>
</html>
